.popup-container.popup-complex {
  .popup {
    padding: 0;
    background: #fff;
  }
}

.popup-container.popup-select {
  .popup {
    width: 300px;
    .popup-head {}
    .popup-body {
      padding: 0;
      .item.select-item {
        padding: 16px 24px;
      }
    }
    .popup-buttons {

    }
  }
}